<script src="https://webgazer.cs.brown.edu/webgazer.js"></script>
<%= javascript_pack_tag 'gaze', 'data-turbolinks-track': 'reload' %>

<div class="fullPage">
  <div class="half green" id="yes">Yes</div>
  <div class="half red" id="no">No</div>
</div>

<div id="notice">Initializing</div>
